@import 'variables';

.link-overflow { margin: 0px; display: inline-block; text-decoration: none; color: inherit; cursor: pointer; }
.link-overflow:hover, .link-overflow:focus { text-decoration: none; }
